<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>

    <main class="flex flex-row">
      <%- include('./partials/aside') %>

      <div class="basis-9/12 bg-zinc-900 min-h-screen w-full p-10">
        <div class="flex justify-start items-center mb-10">
          <img class="inline-block h-20 w-20 rounded-full" src="/<%= user.image %> " alt="image" />
          <h2 class="text-white text-4xl font-bold ms-10">Hello, <%= user.name %> !</h2>
        </div>

        <form action="/addpostpage" method="post" enctype="multipart/form-data">
          <input
            class="bg-transparent p-3 w-2/3 outline-none border-2 border-zinc-600 rounded-lg text-white block mb-3"
            name="title"
            type="text"
            placeholder="Enter Post Title"
          />
          <textarea
            class="resize-none bg-transparent p-3 w-2/3 h-40 outline-none border-2 border-zinc-600 rounded-lg text-white block mb-3"
            name="content"
            placeholder="whats in your mind!"
          ></textarea>
          <div class="flex w-full items-center justify-between bg-grey-lighter mb-3 w-2/3">
            <label
              class="w-full flex flex-col items-center px-4 py-8 bg-zinc-800 rounded-lg shadow-lg tracking-wide uppercase border border-zinc-500 cursor-pointer hover:bg-zinc-600 hover:text-white"
            >
              <svg
                class="w-8 h-8"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z"
                />
              </svg>
              <span class="mt-2 text-base leading-normal">Select a profile image</span>
              <input type="file" name="image" class="hidden" />
            </label>
          </div>

          <input
            class="bg-blue-500 p-3 rounded-lg w-40 mt-3 text-white block"
            type="submit"
            value="Create New Post"
          />
        </form>
      </div>
    </main>
  </body>
</html>
